<div id="main_content">
    <h1 class="text-center font-semibold m-2">
        Game sets
    </h1>
    <div class="content-center items-center p-4 bg-slate-300 rounded-lg">  
        <% GameSet.where(user_id: current_user.id).each do |game_set| %>
            <%= render "game_sets/game_set_list_item", game_set: game_set %>
        <% end %>
    </div>
</div>
