<div>
    <h1 class="text-xl font-bold text-center my-4">Game sets</h1>
    <div class="">
      <button class="bg-green-500 hover:bg-green-700 m-2 font-semibold p-4 text-center rounded-md"> BUTTON 1 </button>
      <button class="bg-green-500 hover:bg-green-700 m-2 font-semibold p-4 text-center rounded-md"> BUTTON 2 </button>
      <button class="bg-green-500 hover:bg-green-700 m-2 font-semibold p-4 text-center rounded-md"> BUTTON 3 </button>
      <button class="bg-green-500 hover:bg-green-700 m-2 font-semibold p-4 text-center rounded-md"> BUTTON 4 </button>
    </div>
  </div>
