<div class="w-1/6 bg-green-500 fixed h-full overflow-auto items-center flex-col">
    <div class="m-3">
        <div>
            <h2 class="text-center font-bold text-3xl mx-4 my-4"><%= link_to "Zaobridge", "/"%></h2>     
            <p class="text-center text-2xl font-semibold my-2">Placeholder</p>   
            <p class="text-center text-2xl font-semibold my-2">Placeholder</p>   
            <p class="text-center text-2xl font-semibold my-2">Placeholder</p>   
            <p class="text-center text-2xl font-semibold my-2">Placeholder</p>   
            <p class="text-center text-2xl font-semibold my-2">Placeholder</p>   
            <p class="text-center text-2xl font-semibold my-2">Placeholder</p>     
        </div>
        <div class="mt-48">
            <div class="bg-red-500 hover:bg-red-700 text-2xl font-semibold text-center rounded-lg py-2">
                <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "mt-auto" %>
            </div>
        </div>
    </div>
</div>
